.ons{
    text-align: center;
    padding: 22px 0px;
}
.card-body{
   background-color: grey;
   

}
.list-group-flush{
    text-align: center;
}
.qq{
    background-color: #b1ee52;
}
.onsd{
    text-align: center;
    padding: 22px 0px;
}
.pm{
background-color: #b1ee52;

}