.tes{
    text-align: center;
    margin-top: 50px;
}
.bh{
    background-color: #66c409;
}

.kl h2{
    border-bottom: 2px solid white;
    color: white;
    display: inline-block;

}


.kl p{
  
    color: white;
   
}

.kl{
    
    
    padding: 47px 0px;
}